.utama {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #007bff;
}

.kartu {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    padding: 10px;
    width: 400px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}
